<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <h1 class="titulo">Produtos</h1>
  <div class="flex-conteiner">
    <div>
        <img src="https://lojaslivia.fbitsstatic.net/img/p/creme-para-pentear-salon-line-infantil-s-o-s-cachos-kids-300-ml-hidratacao-83246/268355.jpg?w=800&h=800&v=no-change&qs=ignore" alt="">
        <p><strong>CREME PARA PENTEAR SALON LINE <br>
            INFANTIL S.O.S CACHOS KIDS </strong></p>
            <p><strong>Preço:</strong>R$12,00</p>
    </div>
    
    <div>
        <img src="https://lojaslivia.fbitsstatic.net/img/p/creme-para-pentear-salon-line-infantil-s-o-s-cachos-kids-300-ml-hidratacao-83246/268355.jpg?w=800&h=800&v=no-change&qs=ignore" alt="">
        <p><strong>CREME PARA PENTEAR SALON LINE <br>
            INFANTIL S.O.S CACHOS KIDS </strong></p>
            <p><strong>Preço:</strong>R$12,00</p>
    </div>
</div>
 
</body>
</html>