<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1 style="text-align: center;">GELATINA MODELADORA SALON LINE #TODECACHO TRANSIÇÃO</h1>
  <div class="flex-conteiner">
    <div>
      
        <img class="produto"src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/76728/ca8b7038-b2ca-4074-a8e8-988687e261da-salon-line-todecacho-transicao-capilar-gelatina-modeladora-550g.png" alt="">
     
        
            <h2 style="text-align: center;"><strong>Preço:</strong> R$18,00</h2>
    </div>
    
   
</div>

</body>
</html>