<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>KIT WELLA PROFESSIONAIS INVIGO BLONDE RECHARGE DUO (2 PRODUTOS) </h1>
  <div class="flex-conteiner">
    <div>
      
        <img class="produto"src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/59486/bee64f6f-5982-48ee-9c3e-71d530290ae1-kit-wella-professionals-invigo-blonde-recharge-duo-2-produtos.png" alt="">
     
        
            <h2><strong>Preço:</strong> R$150,00</h2>
    </div>
    
   
</div>

</body>
</html>