<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <h1 class="titulo">Produtos para your hair</h1>
  <div class="flex-conteiner">
    <div>
        <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/products/76565/76565_a.png" alt="">
        <p><strong>SALON LINE DEFINIÇÃO INTENSA <br>
           CREME DE PENTEAR 1000g </strong></p>
            <p><strong>Preço:</strong> R$30,00</p>
    </div>
    
    <div>
        <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/59486/bee64f6f-5982-48ee-9c3e-71d530290ae1-kit-wella-professionals-invigo-blonde-recharge-duo-2-produtos.png" alt="">
        <p><strong>KIT WELLA PROFESSIONAIS INVIGO BLONDE <br>
            RECHARGE DUO (2 PRODUTOS) </strong></p>
            <p><strong>Preço:</strong> R$150,00</p>
    </div>
   
    <div>
        <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/76728/ca8b7038-b2ca-4074-a8e8-988687e261da-salon-line-todecacho-transicao-capilar-gelatina-modeladora-550g.png" alt="">
        <p><strong> GELATINA MODELADORA SALON LINE <br>
            #TODECACHO TRANSIÇÃO</strong></p>
            <p><strong>Preço:</strong> R$18,00</p>
    </div>

    <div>
        <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/4527/007b27c8-6dab-45ce-98f0-60adc4f2611f-truss-finish-care-curly-light-finalizador-250ml.png" alt="">
        <p><strong>TRUSS CURLY LIGHT - <br>
            ATIVADOR DE CACHOS 250ml</strong></p>
            <p><strong>Preço:</strong> R$46,00</p>
    </div>
</div>

</body>
</html>