<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>SALON LINE DEFINIÇÃO INTENSA CREME DE PENTEAR 1000g</h1>
  <div class="flex-conteiner">
    <div>
      
        <img class="produto"src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/products/76565/76565_a.png" alt="">
     
        
            <h2><strong>Preço:</strong> R$30,00</h2>
    </div>
    
   
</div>

</body>
</html>