<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <h1 class="titulo">Produtos para your hair</h1>
  <div class="flex-conteiner">
    <div>
        <img src="https://o.remove.bg/downloads/50cb0ebc-d98c-48d6-b3d2-133418873ab1/268355-removebg-preview.png" alt="">
        <p><strong>CREME PARA PENTEAR SALON LINE <br>
            INFANTIL S.O.S CACHOS KIDS </strong></p>
            <p><strong>Preço:</strong> R$16,00</p>
    </div>
    
    <div>
        <img src="https://o.remove.bg/downloads/c70cc952-8115-412e-af9d-16c4fbb5e3ec/image-1310-cke-removebg-preview.png" alt="">
        <p><strong>CREME PARA PENTEAR SALON LINE <br>
            CACHOS DOS SONHOS </strong></p>
            <p><strong>Preço:</strong> R$20,00</p>
    </div>

    <div>
        <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/76728/ca8b7038-b2ca-4074-a8e8-988687e261da-salon-line-todecacho-transicao-capilar-gelatina-modeladora-550g.png" alt="">
        <p><strong> GELATINA MODELADORA SALON LINE <br>
            #TODECACHO TRANSIÇÃO</strong></p>
            <p><strong>Preço:</strong> R$18,00</p>
    </div>

    <div>
        <img src="https://o.remove.bg/downloads/146fbcbe-d607-4a06-b506-6550a5b87ff3/creme-para-pentear-curly-styling-cream-500ml-soul-power-cke-removebg-preview.png" alt="">
        <p><strong>CREME PARA PENTEAR MODELADOR DE <br>
            DE CACHOS SOUL POWER</strong></p>
            <p><strong>Preço:</strong> R$46,00</p>
    </div>
</div>
 
</body>
</html>