body {
  background: linear-gradient(to right, rgb(52, 228, 213), rgb(255, 104, 210));
  }
  

.titulo{
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 480%;
    
}

img{
    width: 300px;
    height: 300px;
}

.flex-conteiner {
    display: flex;
    justify-content: space-around;
}

.produto{
    width: 500px;
    height: 500px; 
}

.imagem{
    width: 400px;
    height: 400px;
}

h1 {
    text-align: center;
}